USE [master]
GO
/****** Object:  Database [QUAN_LY_GIAO_VIEN_1]    Script Date: 5/4/2019 14:54:19 ******/
CREATE DATABASE [QUAN_LY_GIAO_VIEN_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUAN_LY_GIAO_VIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QUAN_LY_GIAO_VIEN_1.mdf' , SIZE = 5312KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUAN_LY_GIAO_VIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QUAN_LY_GIAO_VIEN_1_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUAN_LY_GIAO_VIEN_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUAN_LY_GIAO_VIEN_1]
GO
/****** Object:  Table [dbo].[BAI_BAO]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAI_BAO](
	[maBaiBao] [int] NOT NULL,
	[tenBaiBao] [nvarchar](max) NULL,
	[ngayCongBo] [smalldatetime] NULL,
	[so] [int] NULL,
	[tapChiCongBo] [nvarchar](max) NULL,
	[maLoaiBaiBao] [int] NULL,
 CONSTRAINT [PK_BAI_BAO] PRIMARY KEY CLUSTERED 
(
	[maBaiBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAO_VE_DO_AN]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAO_VE_DO_AN](
	[maHoiDong] [char](10) NOT NULL,
	[tenHoiDong] [nvarchar](50) NULL,
	[donViTinh] [nvarchar](50) NULL,
	[gioChuan] [int] NULL,
 CONSTRAINT [PK_BAO_VE_DO_AN] PRIMARY KEY CLUSTERED 
(
	[maHoiDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BO_MON]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BO_MON](
	[maBM] [int] IDENTITY(1,1) NOT NULL,
	[tenBM] [nvarchar](50) NULL,
	[maKhoa] [int] NULL,
 CONSTRAINT [PK__BO_MON__7A3F664B2D11FFCE] PRIMARY KEY CLUSTERED 
(
	[maBM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAM_THI]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAM_THI](
	[maLoaiChamThi] [char](10) NOT NULL,
	[tenNoiDung] [nvarchar](50) NULL,
	[donViTinh] [nvarchar](50) NULL,
	[gioChuan] [int] NULL,
 CONSTRAINT [PK_CHAM_THI] PRIMARY KEY CLUSTERED 
(
	[maLoaiChamThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_CDCMNV]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_CDCMNV](
	[maGV] [char](10) NOT NULL,
	[maCDCM] [char](10) NOT NULL,
	[thoiDiemNhan] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maGV] ASC,
	[maCDCM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_CVCQ]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_CVCQ](
	[maGV] [char](10) NOT NULL,
	[maCVCQ] [int] NOT NULL,
	[thoiDiemNhan] [smalldatetime] NULL,
	[thoiDiemKetThuc] [smalldatetime] NULL,
 CONSTRAINT [PK__CHI_TIET__55E45B55300911DD] PRIMARY KEY CLUSTERED 
(
	[maGV] ASC,
	[maCVCQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_CVD]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_CVD](
	[maGV] [char](10) NOT NULL,
	[maCVD] [int] NOT NULL,
	[thoiDiemNhan] [smalldatetime] NULL,
 CONSTRAINT [PK__CHI_TIET__68F647205CE1FFFE] PRIMARY KEY CLUSTERED 
(
	[maGV] ASC,
	[maCVD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOC_HAM]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOC_HAM](
	[maGV] [char](10) NOT NULL,
	[maHocHam] [char](10) NOT NULL,
	[thoiDiemNhan] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maGV] ASC,
	[maHocHam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOC_VI]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOC_VI](
	[maGV] [char](10) NOT NULL,
	[maHocVi] [char](10) NOT NULL,
	[thoiDiemNhan] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maGV] ASC,
	[maHocVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOI_DONG]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOI_DONG](
	[maHoiDong] [int] NOT NULL,
	[maGV] [char](10) NOT NULL,
	[soGio] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_HOI_DONG] PRIMARY KEY CLUSTERED 
(
	[maHoiDong] ASC,
	[maGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_HUONG_DAN_BTL]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HUONG_DAN_BTL](
	[maBTL] [int] NOT NULL,
	[maGV] [char](10) NOT NULL,
	[soHocVien] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_HUONG_DAN_BTL] PRIMARY KEY CLUSTERED 
(
	[maBTL] ASC,
	[maGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_HUONG_DAN_DO_AN]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HUONG_DAN_DO_AN](
	[maLoaiDoAn] [int] NOT NULL,
	[maGV] [char](10) NOT NULL,
	[soHocVien] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_HUONG_DAN_DO_AN] PRIMARY KEY CLUSTERED 
(
	[maLoaiDoAn] ASC,
	[maGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_LOP_HOC_PHAN]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_LOP_HOC_PHAN](
	[maGV] [char](10) NOT NULL,
	[maLopHocPhan] [char](10) NOT NULL,
	[tongTiet] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_LOP_HOC_PHAN] PRIMARY KEY CLUSTERED 
(
	[maGV] ASC,
	[maLopHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_NGOAI_KHOA]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_NGOAI_KHOA](
	[maLoaiNgoaiNgu] [int] NOT NULL,
	[maGV] [char](10) NOT NULL,
	[soNgay] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_NGOAI_KHOA] PRIMARY KEY CLUSTERED 
(
	[maLoaiNgoaiNgu] ASC,
	[maGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_TRONG_TAI]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_TRONG_TAI](
	[maLoaiTrongTai] [int] NOT NULL,
	[maGV] [char](10) NOT NULL,
	[soTran] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_TRONG_TAI] PRIMARY KEY CLUSTERED 
(
	[maLoaiTrongTai] ASC,
	[maGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_VAN_BANG_SO_HUU_TRI_TUE]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_VAN_BANG_SO_HUU_TRI_TUE](
	[maVanBang] [int] NOT NULL,
	[noiDung] [nvarchar](max) NULL,
	[kiHieu] [char](20) NULL,
	[noiCap] [nvarchar](50) NULL,
	[namCap] [int] NULL,
	[maGV] [char](10) NOT NULL,
 CONSTRAINT [PK_CHI_TIET_VAN_BANG_SO_HUU_TRI_TUE] PRIMARY KEY CLUSTERED 
(
	[maVanBang] ASC,
	[maGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUC_DANH_CHUYEN_MON_NGHIEP_VU]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_DANH_CHUYEN_MON_NGHIEP_VU](
	[maCDCM] [char](10) NOT NULL,
	[chucDanh] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maCDCM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUC_VU_CHINH_QUYEN]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_VU_CHINH_QUYEN](
	[maCVCQ] [int] IDENTITY(1,1) NOT NULL,
	[tenCVCQ] [nvarchar](50) NULL,
	[noiBoNhiem] [nvarchar](50) NULL,
 CONSTRAINT [PK__CHUC_VU___FDA7620392924320] PRIMARY KEY CLUSTERED 
(
	[maCVCQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUC_VU_DANG]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_VU_DANG](
	[maCVD] [int] IDENTITY(1,1) NOT NULL,
	[tenCVD] [nvarchar](50) NULL,
 CONSTRAINT [PK__CHUC_VU___2C86A5503F1AFB09] PRIMARY KEY CLUSTERED 
(
	[maCVD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DINH_MUC]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DINH_MUC](
	[maDinhMuc] [nchar](10) NOT NULL,
	[maLoaiHocPhan] [int] NULL,
	[tenDinhMuc] [nvarchar](max) NULL,
	[gioChuan] [int] NULL,
	[donViTinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_DINH_MUC] PRIMARY KEY CLUSTERED 
(
	[maDinhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DINH_MUC_NGHIEN_CUU]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DINH_MUC_NGHIEN_CUU](
	[dinhMucThoiGian] [int] NULL,
	[dinhMucGioChuan] [int] NULL,
	[maHocHam] [char](10) NOT NULL,
	[maCDCM] [char](10) NOT NULL,
	[quyDinhChung] [int] NULL,
	[quyDinhTheChat] [int] NULL,
 CONSTRAINT [PK_DINH_MUC_NGHIEN_CUU] PRIMARY KEY CLUSTERED 
(
	[maHocHam] ASC,
	[maCDCM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DINH_MUC_THEO_CHUC_DANH]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DINH_MUC_THEO_CHUC_DANH](
	[dinhMucThoiGian] [int] NULL,
	[dinhMucGioChuan] [int] NULL,
	[maCDCM] [char](10) NULL,
	[quyDinhChung] [int] NULL,
	[quyDinhTheChat] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DINH_MUC_THEO_CHUC_DANH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DINH_MUC_THEO_HOC_HAM]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DINH_MUC_THEO_HOC_HAM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[dinhMucThoiGian] [int] NULL,
	[dinhMucGioChuan] [int] NULL,
	[quyDinhChung] [int] NULL,
	[quyDinhTheChat] [int] NULL,
	[maHocHam] [char](10) NULL,
 CONSTRAINT [PK_DINH_MUC_THEO_HOC_HAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAI_THUONG_KHCN]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAI_THUONG_KHCN](
	[maGT] [char](10) NOT NULL,
	[hinhThuc] [nvarchar](max) NULL,
	[maGV] [char](10) NULL,
 CONSTRAINT [PK_GIAI_THUONG_KHCN] PRIMARY KEY CLUSTERED 
(
	[maGT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAO_VIEN]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN](
	[maGV] [char](10) NOT NULL,
	[tenGV] [nvarchar](50) NULL,
	[GT] [nvarchar](5) NULL,
	[ngaySinh] [smalldatetime] NULL,
	[soDT] [char](15) NULL,
	[maBM] [int] NULL,
	[maKhoa] [int] NULL,
 CONSTRAINT [PK__GIAO_VIE__7A3E2D7590A1880C] PRIMARY KEY CLUSTERED 
(
	[maGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAO_VIEN_BAI_BAO]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN_BAI_BAO](
	[maGV] [char](10) NOT NULL,
	[maBaiBao] [int] NOT NULL,
	[vaiTro] [nvarchar](max) NULL,
 CONSTRAINT [PK_GIAO_VIEN_BAI_BAO] PRIMARY KEY CLUSTERED 
(
	[maGV] ASC,
	[maBaiBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAO_VIEN_BAO_VE_DO_AN]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN_BAO_VE_DO_AN](
	[maGV] [char](10) NOT NULL,
	[maHoiDong] [char](10) NOT NULL,
	[soBuoi] [int] NULL,
 CONSTRAINT [PK_GIAO_VIEN_BAO_VE_DO_AN] PRIMARY KEY CLUSTERED 
(
	[maGV] ASC,
	[maHoiDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAO_VIEN_CHAM_THI]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN_CHAM_THI](
	[maGV] [char](10) NOT NULL,
	[maLoaiChamThi] [char](10) NOT NULL,
	[soHocSinh] [int] NULL,
 CONSTRAINT [PK_GIAO_VIEN_CHAM_THI] PRIMARY KEY CLUSTERED 
(
	[maGV] ASC,
	[maLoaiChamThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAO_VIEN_DO_AN]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN_DO_AN](
	[maGV] [char](10) NOT NULL,
	[maLoaiDoAn] [char](10) NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [PK_GIAO_VIEN_DO_AN] PRIMARY KEY CLUSTERED 
(
	[maGV] ASC,
	[maLoaiDoAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAO_VIEN_NGHIEN_CUU]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN_NGHIEN_CUU](
	[maGV] [char](10) NOT NULL,
	[maDeTai] [char](10) NOT NULL,
	[soGio] [int] NULL,
	[vaiTro] [nvarchar](50) NULL,
 CONSTRAINT [PK_GIAO_VIEN_NGHIEN_CUU] PRIMARY KEY CLUSTERED 
(
	[maGV] ASC,
	[maDeTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAO_VIEN_SACH]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN_SACH](
	[maGV] [char](10) NOT NULL,
	[maSach] [int] NOT NULL,
	[soTrang] [int] NULL,
	[vaiTro] [nvarchar](max) NULL,
 CONSTRAINT [PK_GIAO_VIEN_SACH] PRIMARY KEY CLUSTERED 
(
	[maGV] ASC,
	[maSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOC_HAM]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_HAM](
	[maHocHam] [char](10) NOT NULL,
	[tenHocHam] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHocHam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOC_VI]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_VI](
	[maHocVi] [char](10) NOT NULL,
	[tenHocVi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHocVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOI_DONG]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOI_DONG](
	[maHoiDong] [int] NOT NULL,
	[tenHoiDong] [nvarchar](max) NULL,
	[ghiChu] [nvarchar](max) NULL,
	[maLoaiHoiDong] [int] NULL,
 CONSTRAINT [PK_HOI_DONG] PRIMARY KEY CLUSTERED 
(
	[maHoiDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[maKhoa] [int] IDENTITY(1,1) NOT NULL,
	[tenKhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK__KHOA__C79B8C22A64B05ED] PRIMARY KEY CLUSTERED 
(
	[maKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_BAI_BAO]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_BAI_BAO](
	[maLoaiBaiBao] [int] NOT NULL,
	[tenLoaiBaiBao] [nvarchar](max) NULL,
	[donViTinh] [nvarchar](50) NULL,
	[gioChuan] [int] NULL,
 CONSTRAINT [PK_LOAI_BAI_BAO] PRIMARY KEY CLUSTERED 
(
	[maLoaiBaiBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_BAI_TAP_LON]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_BAI_TAP_LON](
	[maBTL] [int] NOT NULL,
	[tenBTL] [nvarchar](50) NULL,
	[gioChuan] [float] NULL,
	[donViTinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAI_BAI_TAP_LON] PRIMARY KEY CLUSTERED 
(
	[maBTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_DO_AN]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_DO_AN](
	[maLoaiDoAn] [char](10) NOT NULL,
	[tenLoaiDoAn] [nvarchar](50) NULL,
	[donViTinh] [nvarchar](50) NULL,
	[gioChuan] [int] NULL,
 CONSTRAINT [PK_LOAI_DO_AN] PRIMARY KEY CLUSTERED 
(
	[maLoaiDoAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_DO_AN_HUONG_DAN]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_DO_AN_HUONG_DAN](
	[maLoaiDoAn] [int] NOT NULL,
	[tenLoaiDoAn] [nvarchar](max) NULL,
	[gioChuan] [float] NULL,
	[donViTinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAI_DO_AN_HUONG_DAN] PRIMARY KEY CLUSTERED 
(
	[maLoaiDoAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_HOC_PHAN]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_HOC_PHAN](
	[maLoaiHocPhan] [int] NOT NULL,
	[tenLoaiHocPhan] [nvarchar](max) NULL,
	[he] [nvarchar](50) NULL,
	[soTinChi] [int] NULL,
 CONSTRAINT [PK_LOAI_HOC_PHAN] PRIMARY KEY CLUSTERED 
(
	[maLoaiHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_HOI_DONG]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_HOI_DONG](
	[maLoaiHoiDong] [int] NOT NULL,
	[tenLoaiHoiDong] [nvarchar](max) NULL,
 CONSTRAINT [PK_LOAI_HOI_DONG] PRIMARY KEY CLUSTERED 
(
	[maLoaiHoiDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_NGOAI_KHOA]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_NGOAI_KHOA](
	[maLoaiNgoaiNgu] [int] NOT NULL,
	[tenLoaiNgoaiNgu] [nvarchar](50) NULL,
	[gioChuan] [float] NULL,
	[donViTinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAI_NGOAI_KHOA] PRIMARY KEY CLUSTERED 
(
	[maLoaiNgoaiNgu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_SACH]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SACH](
	[maLoaiSach] [int] NOT NULL,
	[tenLoaiSach] [nvarchar](max) NULL,
	[donViTinh] [nvarchar](50) NULL,
	[gioChuan] [int] NULL,
 CONSTRAINT [PK_LOAI_SACH] PRIMARY KEY CLUSTERED 
(
	[maLoaiSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_TRONG_TAI]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_TRONG_TAI](
	[maLoaiTrongTai] [int] NOT NULL,
	[tenLoaiTrongTai] [nvarchar](max) NULL,
	[gioChuan] [float] NULL,
	[donViTinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAI_TRONG_TAI] PRIMARY KEY CLUSTERED 
(
	[maLoaiTrongTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP_HOC_PHAN]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP_HOC_PHAN](
	[maLopHocPhan] [char](10) NOT NULL,
	[tenLopHocPhan] [nvarchar](50) NULL,
	[thoiGianBatDat] [smalldatetime] NULL,
	[thoiGianKetThuc] [smalldatetime] NULL,
	[siSo] [int] NULL,
	[namHoc] [int] NULL,
	[kiHoc] [int] NULL,
	[maLoaiHocPhan] [int] NULL,
 CONSTRAINT [PK_LOP_HOC_PHAN] PRIMARY KEY CLUSTERED 
(
	[maLopHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MIEN_GIAM_CVCQ]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIEN_GIAM_CVCQ](
	[maMienGiam] [int] NOT NULL,
	[tyLeMienGiam] [int] NULL,
	[maCVCQ] [int] NULL,
 CONSTRAINT [PK_MIEN_GIAM_CVCQ] PRIMARY KEY CLUSTERED 
(
	[maMienGiam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MIEN_GIAM_CVD]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIEN_GIAM_CVD](
	[maMienGiam] [int] NOT NULL,
	[tyLeMienGiam] [int] NULL,
	[maCVD] [int] NULL,
 CONSTRAINT [PK_MIEN_GIAM_CVD] PRIMARY KEY CLUSTERED 
(
	[maMienGiam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGHIEN_CUU]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGHIEN_CUU](
	[maDeTai] [char](10) NOT NULL,
	[tenDeTai] [nvarchar](50) NULL,
	[donViTinh] [nvarchar](50) NULL,
	[gioChuan] [int] NULL,
 CONSTRAINT [PK_NGHIEN_CUU] PRIMARY KEY CLUSTERED 
(
	[maDeTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[maSach] [int] NOT NULL,
	[tenSach] [nvarchar](max) NULL,
	[namXuatBan] [smalldatetime] NULL,
	[noiXuatBan] [nvarchar](max) NULL,
	[maLoaiSach] [int] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[maSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM_KHCN]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM_KHCN](
	[maSP] [char](10) NOT NULL,
	[tenSP] [nvarchar](50) NULL,
	[ghiChu] [nvarchar](max) NULL,
	[maGV] [char](10) NULL,
 CONSTRAINT [PK_SAN_PHAM_KHCN] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAN_BANG_SO_HUU_TRI_TUE]    Script Date: 5/4/2019 14:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAN_BANG_SO_HUU_TRI_TUE](
	[maVanBang] [int] NOT NULL,
	[tenVanBang] [nvarchar](50) NULL,
 CONSTRAINT [PK_VAN_BANG_SO_HUU_TRI_TUE] PRIMARY KEY CLUSTERED 
(
	[maVanBang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BAI_BAO] ([maBaiBao], [tenBaiBao], [ngayCongBo], [so], [tapChiCongBo], [maLoaiBaiBao]) VALUES (1, N'NGHIÊN CỨU PHÁT TRIỂN XE TỰ LÁI', CAST(N'2016-03-18T00:00:00' AS SmallDateTime), 1, N'ĐĂNG TOÀN VĂN TRONG CÁC KỲ YẾU HỘI NGHỊ KHOA HỌC TRONG NƯỚC', 1)
INSERT [dbo].[BAI_BAO] ([maBaiBao], [tenBaiBao], [ngayCongBo], [so], [tapChiCongBo], [maLoaiBaiBao]) VALUES (2, N'NGHIÊN CỨU PHÁT TRIỂN ỨNG DỤNG NHẬN DẠNG KHUÔN MẶT', CAST(N'2018-12-06T00:00:00' AS SmallDateTime), 2, N'KHOA HỌC TRONG NƯỚC CÓ CHỈ SỐ ISSN', 2)
INSERT [dbo].[BAI_BAO] ([maBaiBao], [tenBaiBao], [ngayCongBo], [so], [tapChiCongBo], [maLoaiBaiBao]) VALUES (3, N'NGHIÊN CỨU PHÁT TRIỂN TRÍ TUỆ NHÂN TẠO TRONG QUỐC PHÒNG', CAST(N'2017-06-08T00:00:00' AS SmallDateTime), 3, N'ĐĂNG TOÀN VĂN TRONG CÁC KỲ YẾU HỘI NGHỊ KHOA HỌC QUỐC TẾ', 3)
INSERT [dbo].[BAO_VE_DO_AN] ([maHoiDong], [tenHoiDong], [donViTinh], [gioChuan]) VALUES (N'HD01      ', N'HĐ bảo vệ ĐATN đại học (số ĐATN chấm)', N'Giờ', 12)
INSERT [dbo].[BAO_VE_DO_AN] ([maHoiDong], [tenHoiDong], [donViTinh], [gioChuan]) VALUES (N'HD03      ', N'HĐ đánh giá đề tài NCKH học viên (số lần ủy viên)', N'Giờ', 21)
INSERT [dbo].[BAO_VE_DO_AN] ([maHoiDong], [tenHoiDong], [donViTinh], [gioChuan]) VALUES (N'HD04      ', N'HĐ bảo vệ LVTN (số lần làm Phản biện)', N'Giờ', 22)
SET IDENTITY_INSERT [dbo].[BO_MON] ON 

INSERT [dbo].[BO_MON] ([maBM], [tenBM], [maKhoa]) VALUES (1, N'Công Nghệ Phần Mềm', 1)
INSERT [dbo].[BO_MON] ([maBM], [tenBM], [maKhoa]) VALUES (2, N'Khoa Học Máy Tính', 1)
INSERT [dbo].[BO_MON] ([maBM], [tenBM], [maKhoa]) VALUES (3, N'Hệ Thống Thông Tin', 1)
SET IDENTITY_INSERT [dbo].[BO_MON] OFF
INSERT [dbo].[CHAM_THI] ([maLoaiChamThi], [tenNoiDung], [donViTinh], [gioChuan]) VALUES (N'CT01      ', N'Chấm thi sau Đại học', N'Giờ', 6)
INSERT [dbo].[CHAM_THI] ([maLoaiChamThi], [tenNoiDung], [donViTinh], [gioChuan]) VALUES (N'CT02      ', N'Chấm thi lớp Cao đẳng', N'Giờ', 8)
INSERT [dbo].[CHAM_THI] ([maLoaiChamThi], [tenNoiDung], [donViTinh], [gioChuan]) VALUES (N'CT03      ', N'Chấm thi Cao học', N'Giờ', 3)
INSERT [dbo].[CHI_TIET_CDCMNV] ([maGV], [maCDCM], [thoiDiemNhan]) VALUES (N'GV01      ', N'CD03      ', CAST(N'2001-10-12T00:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_CDCMNV] ([maGV], [maCDCM], [thoiDiemNhan]) VALUES (N'GV04      ', N'CD02      ', CAST(N'2010-02-11T00:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_CDCMNV] ([maGV], [maCDCM], [thoiDiemNhan]) VALUES (N'GV04      ', N'CD03      ', CAST(N'2012-04-12T00:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_CVCQ] ([maGV], [maCVCQ], [thoiDiemNhan], [thoiDiemKetThuc]) VALUES (N'GV01      ', 1, CAST(N'2002-02-02T00:00:00' AS SmallDateTime), CAST(N'2006-02-02T00:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_CVCQ] ([maGV], [maCVCQ], [thoiDiemNhan], [thoiDiemKetThuc]) VALUES (N'GV02      ', 4, CAST(N'2005-08-06T00:00:00' AS SmallDateTime), CAST(N'2010-03-04T00:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_CVCQ] ([maGV], [maCVCQ], [thoiDiemNhan], [thoiDiemKetThuc]) VALUES (N'GV06      ', 5, CAST(N'2015-04-12T00:00:00' AS SmallDateTime), NULL)
INSERT [dbo].[CHI_TIET_CVD] ([maGV], [maCVD], [thoiDiemNhan]) VALUES (N'GV01      ', 1, CAST(N'2018-09-09T00:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_CVD] ([maGV], [maCVD], [thoiDiemNhan]) VALUES (N'GV04      ', 2, CAST(N'2016-12-26T00:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_CVD] ([maGV], [maCVD], [thoiDiemNhan]) VALUES (N'GV10      ', 1, CAST(N'2013-12-07T00:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_HOC_HAM] ([maGV], [maHocHam], [thoiDiemNhan]) VALUES (N'GV04      ', N'HH02      ', CAST(N'2015-10-12T00:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_HOC_HAM] ([maGV], [maHocHam], [thoiDiemNhan]) VALUES (N'GV05      ', N'HH01      ', CAST(N'2018-10-01T00:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_HOC_HAM] ([maGV], [maHocHam], [thoiDiemNhan]) VALUES (N'GV06      ', N'HH02      ', CAST(N'2017-04-05T00:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_HOC_VI] ([maGV], [maHocVi], [thoiDiemNhan]) VALUES (N'GV02      ', N'HV01      ', CAST(N'2017-09-30T00:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_HOC_VI] ([maGV], [maHocVi], [thoiDiemNhan]) VALUES (N'GV05      ', N'HV02      ', CAST(N'2013-10-20T00:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_HOC_VI] ([maGV], [maHocVi], [thoiDiemNhan]) VALUES (N'GV10      ', N'HV04      ', CAST(N'1900-01-01T00:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_HOI_DONG] ([maHoiDong], [maGV], [soGio]) VALUES (1, N'GV01      ', 200)
INSERT [dbo].[CHI_TIET_HOI_DONG] ([maHoiDong], [maGV], [soGio]) VALUES (1, N'GV02      ', 180)
INSERT [dbo].[CHI_TIET_HOI_DONG] ([maHoiDong], [maGV], [soGio]) VALUES (2, N'GV03      ', 190)
INSERT [dbo].[CHI_TIET_HUONG_DAN_BTL] ([maBTL], [maGV], [soHocVien]) VALUES (1, N'GV02      ', 2)
INSERT [dbo].[CHI_TIET_HUONG_DAN_BTL] ([maBTL], [maGV], [soHocVien]) VALUES (1, N'GV11      ', 10)
INSERT [dbo].[CHI_TIET_HUONG_DAN_BTL] ([maBTL], [maGV], [soHocVien]) VALUES (1, N'GV12      ', 7)
INSERT [dbo].[CHI_TIET_HUONG_DAN_DO_AN] ([maLoaiDoAn], [maGV], [soHocVien]) VALUES (1, N'GV02      ', 14)
INSERT [dbo].[CHI_TIET_HUONG_DAN_DO_AN] ([maLoaiDoAn], [maGV], [soHocVien]) VALUES (1, N'GV15      ', 3)
INSERT [dbo].[CHI_TIET_HUONG_DAN_DO_AN] ([maLoaiDoAn], [maGV], [soHocVien]) VALUES (2, N'GV05      ', 13)
INSERT [dbo].[CHI_TIET_LOP_HOC_PHAN] ([maGV], [maLopHocPhan], [tongTiet]) VALUES (N'GV01      ', N'LHP01     ', 130)
INSERT [dbo].[CHI_TIET_LOP_HOC_PHAN] ([maGV], [maLopHocPhan], [tongTiet]) VALUES (N'GV02      ', N'LHP02     ', 140)
INSERT [dbo].[CHI_TIET_LOP_HOC_PHAN] ([maGV], [maLopHocPhan], [tongTiet]) VALUES (N'GV03      ', N'LHP03     ', 145)
INSERT [dbo].[CHI_TIET_NGOAI_KHOA] ([maLoaiNgoaiNgu], [maGV], [soNgay]) VALUES (1, N'GV01      ', 2)
INSERT [dbo].[CHI_TIET_NGOAI_KHOA] ([maLoaiNgoaiNgu], [maGV], [soNgay]) VALUES (1, N'GV17      ', 1)
INSERT [dbo].[CHI_TIET_NGOAI_KHOA] ([maLoaiNgoaiNgu], [maGV], [soNgay]) VALUES (1, N'GV20      ', 1)
INSERT [dbo].[CHI_TIET_TRONG_TAI] ([maLoaiTrongTai], [maGV], [soTran]) VALUES (1, N'GV01      ', 2)
INSERT [dbo].[CHI_TIET_TRONG_TAI] ([maLoaiTrongTai], [maGV], [soTran]) VALUES (1, N'GV02      ', 1)
INSERT [dbo].[CHI_TIET_TRONG_TAI] ([maLoaiTrongTai], [maGV], [soTran]) VALUES (1, N'GV15      ', 1)
INSERT [dbo].[CHI_TIET_VAN_BANG_SO_HUU_TRI_TUE] ([maVanBang], [noiDung], [kiHieu], [noiCap], [namCap], [maGV]) VALUES (1, N'máy cày', N'GHK                 ', NULL, NULL, N'GV01      ')
INSERT [dbo].[CHI_TIET_VAN_BANG_SO_HUU_TRI_TUE] ([maVanBang], [noiDung], [kiHieu], [noiCap], [namCap], [maGV]) VALUES (1, N'máy cắt lúa', N'APH                 ', N'Hà Nội', 1999, N'GV04      ')
INSERT [dbo].[CHI_TIET_VAN_BANG_SO_HUU_TRI_TUE] ([maVanBang], [noiDung], [kiHieu], [noiCap], [namCap], [maGV]) VALUES (1, N'máy đập sắn', N'GHK                 ', NULL, NULL, N'GV12      ')
INSERT [dbo].[CHUC_DANH_CHUYEN_MON_NGHIEP_VU] ([maCDCM], [chucDanh]) VALUES (N'CD01      ', N'Trợ Giảng')
INSERT [dbo].[CHUC_DANH_CHUYEN_MON_NGHIEP_VU] ([maCDCM], [chucDanh]) VALUES (N'CD02      ', N'Giảng Viên')
INSERT [dbo].[CHUC_DANH_CHUYEN_MON_NGHIEP_VU] ([maCDCM], [chucDanh]) VALUES (N'CD03      ', N'Giảng Viên Chính')
SET IDENTITY_INSERT [dbo].[CHUC_VU_CHINH_QUYEN] ON 

INSERT [dbo].[CHUC_VU_CHINH_QUYEN] ([maCVCQ], [tenCVCQ], [noiBoNhiem]) VALUES (1, N'Giáo Viên', N'Hà Nội')
INSERT [dbo].[CHUC_VU_CHINH_QUYEN] ([maCVCQ], [tenCVCQ], [noiBoNhiem]) VALUES (2, N'Chủ Nhiệm Bộ Môn', N'Thái Nguyên')
INSERT [dbo].[CHUC_VU_CHINH_QUYEN] ([maCVCQ], [tenCVCQ], [noiBoNhiem]) VALUES (4, N'Chủ Nhiệm Lớp', NULL)
SET IDENTITY_INSERT [dbo].[CHUC_VU_CHINH_QUYEN] OFF
SET IDENTITY_INSERT [dbo].[CHUC_VU_DANG] ON 

INSERT [dbo].[CHUC_VU_DANG] ([maCVD], [tenCVD]) VALUES (1, N'Đảng Viên')
INSERT [dbo].[CHUC_VU_DANG] ([maCVD], [tenCVD]) VALUES (2, N'Bí Thư Đoàn Cơ Sở')
SET IDENTITY_INSERT [dbo].[CHUC_VU_DANG] OFF
INSERT [dbo].[DINH_MUC] ([maDinhMuc], [maLoaiHocPhan], [tenDinhMuc], [gioChuan], [donViTinh]) VALUES (N'DM01      ', 1, N'Định mức môn Khoa học Máy tính', 10, N'1 tiết')
INSERT [dbo].[DINH_MUC] ([maDinhMuc], [maLoaiHocPhan], [tenDinhMuc], [gioChuan], [donViTinh]) VALUES (N'DM02      ', 2, N'Định mức môn Ngôn ngữ lập trình 1', 9, N'1 tiết')
INSERT [dbo].[DINH_MUC] ([maDinhMuc], [maLoaiHocPhan], [tenDinhMuc], [gioChuan], [donViTinh]) VALUES (N'DM03      ', 3, N'Định mức môn Ngôn ngữ lập trình 2', 15, N'1 BTL')
INSERT [dbo].[DINH_MUC_NGHIEN_CUU] ([dinhMucThoiGian], [dinhMucGioChuan], [maHocHam], [maCDCM], [quyDinhChung], [quyDinhTheChat]) VALUES (740, 150, N'HH01      ', N'CD02      ', 1, 3)
INSERT [dbo].[DINH_MUC_NGHIEN_CUU] ([dinhMucThoiGian], [dinhMucGioChuan], [maHocHam], [maCDCM], [quyDinhChung], [quyDinhTheChat]) VALUES (754, 111, N'HH01      ', N'CD06      ', 1, 3)
INSERT [dbo].[DINH_MUC_NGHIEN_CUU] ([dinhMucThoiGian], [dinhMucGioChuan], [maHocHam], [maCDCM], [quyDinhChung], [quyDinhTheChat]) VALUES (878, 256, N'HH01      ', N'CD09      ', 1, 3)
SET IDENTITY_INSERT [dbo].[DINH_MUC_THEO_CHUC_DANH] ON 

INSERT [dbo].[DINH_MUC_THEO_CHUC_DANH] ([dinhMucThoiGian], [dinhMucGioChuan], [maCDCM], [quyDinhChung], [quyDinhTheChat], [ID]) VALUES (700, 280, N'CD06      ', 360, 500, 1)
INSERT [dbo].[DINH_MUC_THEO_CHUC_DANH] ([dinhMucThoiGian], [dinhMucGioChuan], [maCDCM], [quyDinhChung], [quyDinhTheChat], [ID]) VALUES (600, 210, N'CD03      ', 320, 460, 2)
INSERT [dbo].[DINH_MUC_THEO_CHUC_DANH] ([dinhMucThoiGian], [dinhMucGioChuan], [maCDCM], [quyDinhChung], [quyDinhTheChat], [ID]) VALUES (500, 150, N'CD02      ', 280, 420, 3)
SET IDENTITY_INSERT [dbo].[DINH_MUC_THEO_CHUC_DANH] OFF
SET IDENTITY_INSERT [dbo].[DINH_MUC_THEO_HOC_HAM] ON 

INSERT [dbo].[DINH_MUC_THEO_HOC_HAM] ([ID], [dinhMucThoiGian], [dinhMucGioChuan], [quyDinhChung], [quyDinhTheChat], [maHocHam]) VALUES (1, 700, 280, 360, 500, N'HH01      ')
INSERT [dbo].[DINH_MUC_THEO_HOC_HAM] ([ID], [dinhMucThoiGian], [dinhMucGioChuan], [quyDinhChung], [quyDinhTheChat], [maHocHam]) VALUES (2, 600, 210, 320, 460, N'HH02      ')
SET IDENTITY_INSERT [dbo].[DINH_MUC_THEO_HOC_HAM] OFF
INSERT [dbo].[GIAI_THUONG_KHCN] ([maGT], [hinhThuc], [maGV]) VALUES (N'1         ', N'Giải nhất', N'GV04      ')
INSERT [dbo].[GIAI_THUONG_KHCN] ([maGT], [hinhThuc], [maGV]) VALUES (N'2         ', N'Giải khuyến khích', N'GV05      ')
INSERT [dbo].[GIAI_THUONG_KHCN] ([maGT], [hinhThuc], [maGV]) VALUES (N'3         ', N'giải nhì', N'GV07      ')
INSERT [dbo].[GIAO_VIEN] ([maGV], [tenGV], [GT], [ngaySinh], [soDT], [maBM], [maKhoa]) VALUES (N'GV01      ', N'Nguyễn Mậu Uyên', N'Nam', CAST(N'1978-10-22T00:00:00' AS SmallDateTime), N'0368486773     ', 9, 2)
INSERT [dbo].[GIAO_VIEN] ([maGV], [tenGV], [GT], [ngaySinh], [soDT], [maBM], [maKhoa]) VALUES (N'GV02      ', N'Nguyễn Thị Hường', N'Nữ', CAST(N'1980-04-01T00:00:00' AS SmallDateTime), N'0345888628     ', 1, 1)
INSERT [dbo].[GIAO_VIEN] ([maGV], [tenGV], [GT], [ngaySinh], [soDT], [maBM], [maKhoa]) VALUES (N'GV03      ', N'Trần Văn Tuấn Anh', N'Nam', CAST(N'1981-02-02T00:00:00' AS SmallDateTime), N'0972775747     ', 6, 3)
INSERT [dbo].[GIAO_VIEN_BAI_BAO] ([maGV], [maBaiBao], [vaiTro]) VALUES (N'GV01      ', 1, N'ĐỒNG TÁC GIẢ')
INSERT [dbo].[GIAO_VIEN_BAI_BAO] ([maGV], [maBaiBao], [vaiTro]) VALUES (N'GV02      ', 1, N'ĐỒNG TÁC GIẢ')
INSERT [dbo].[GIAO_VIEN_BAI_BAO] ([maGV], [maBaiBao], [vaiTro]) VALUES (N'GV03      ', 1, N'ĐỒNG TÁC GIẢ')
INSERT [dbo].[GIAO_VIEN_BAO_VE_DO_AN] ([maGV], [maHoiDong], [soBuoi]) VALUES (N'GV16      ', N'HD01      ', 12)
INSERT [dbo].[GIAO_VIEN_BAO_VE_DO_AN] ([maGV], [maHoiDong], [soBuoi]) VALUES (N'GV17      ', N'HD09      ', 15)
INSERT [dbo].[GIAO_VIEN_BAO_VE_DO_AN] ([maGV], [maHoiDong], [soBuoi]) VALUES (N'GV18      ', N'HD04      ', 20)
INSERT [dbo].[GIAO_VIEN_CHAM_THI] ([maGV], [maLoaiChamThi], [soHocSinh]) VALUES (N'GV03      ', N'CT02      ', 78)
INSERT [dbo].[GIAO_VIEN_CHAM_THI] ([maGV], [maLoaiChamThi], [soHocSinh]) VALUES (N'GV06      ', N'CT05      ', 90)
INSERT [dbo].[GIAO_VIEN_CHAM_THI] ([maGV], [maLoaiChamThi], [soHocSinh]) VALUES (N'GV11      ', N'CT03      ', 110)
INSERT [dbo].[GIAO_VIEN_DO_AN] ([maGV], [maLoaiDoAn], [soLuong]) VALUES (N'GV01      ', N'DA03      ', 10)
INSERT [dbo].[GIAO_VIEN_DO_AN] ([maGV], [maLoaiDoAn], [soLuong]) VALUES (N'GV04      ', N'DA05      ', 9)
INSERT [dbo].[GIAO_VIEN_DO_AN] ([maGV], [maLoaiDoAn], [soLuong]) VALUES (N'GV05      ', N'DA04      ', 1)
INSERT [dbo].[GIAO_VIEN_NGHIEN_CUU] ([maGV], [maDeTai], [soGio], [vaiTro]) VALUES (N'GV01      ', N'11        ', 26, N'Thạc sĩ')
INSERT [dbo].[GIAO_VIEN_NGHIEN_CUU] ([maGV], [maDeTai], [soGio], [vaiTro]) VALUES (N'GV02      ', N'9         ', 300, N'Tiến sĩ')
INSERT [dbo].[GIAO_VIEN_NGHIEN_CUU] ([maGV], [maDeTai], [soGio], [vaiTro]) VALUES (N'GV03      ', N'8         ', 150, N'Trợ giảng')
INSERT [dbo].[GIAO_VIEN_SACH] ([maGV], [maSach], [soTrang], [vaiTro]) VALUES (N'GV04      ', 3, 550, N'Thu hồi')
INSERT [dbo].[GIAO_VIEN_SACH] ([maGV], [maSach], [soTrang], [vaiTro]) VALUES (N'GV15      ', 2, 111, N'Phân loại')
INSERT [dbo].[GIAO_VIEN_SACH] ([maGV], [maSach], [soTrang], [vaiTro]) VALUES (N'GV17      ', 1, 400, N'Chuyển giao')
INSERT [dbo].[HOC_HAM] ([maHocHam], [tenHocHam]) VALUES (N'HH01      ', N'Giáo Sư')
INSERT [dbo].[HOC_HAM] ([maHocHam], [tenHocHam]) VALUES (N'HH02      ', N'Phó Giáo Sư')
INSERT [dbo].[HOC_VI] ([maHocVi], [tenHocVi]) VALUES (N'HV01      ', N'Cử Nhân')
INSERT [dbo].[HOC_VI] ([maHocVi], [tenHocVi]) VALUES (N'HV02      ', N'Kỹ Sư')
INSERT [dbo].[HOC_VI] ([maHocVi], [tenHocVi]) VALUES (N'HV03      ', N'Thạc Sỹ')
INSERT [dbo].[HOI_DONG] ([maHoiDong], [tenHoiDong], [ghiChu], [maLoaiHoiDong]) VALUES (1, N'HỘI ĐỒNG CHỨC DANH GIÁO SƯ NHÀ NƯỚC', N'', 2)
INSERT [dbo].[HOI_DONG] ([maHoiDong], [tenHoiDong], [ghiChu], [maLoaiHoiDong]) VALUES (2, N'HỘI ĐỒNG KHOA HỌC QUỐC TẾ', N'', 1)
INSERT [dbo].[HOI_DONG] ([maHoiDong], [tenHoiDong], [ghiChu], [maLoaiHoiDong]) VALUES (3, N'HỘI ĐỒNG KHOA HỌC TP HÀ NỘI', N'', 3)
SET IDENTITY_INSERT [dbo].[KHOA] ON 

INSERT [dbo].[KHOA] ([maKhoa], [tenKhoa]) VALUES (1, N'Công Nghệ Thông Tin')
INSERT [dbo].[KHOA] ([maKhoa], [tenKhoa]) VALUES (2, N'Vô Tuyến Điện Tử')
INSERT [dbo].[KHOA] ([maKhoa], [tenKhoa]) VALUES (3, N'Hóa Lý Kĩ Thuật')
SET IDENTITY_INSERT [dbo].[KHOA] OFF
INSERT [dbo].[LOAI_BAI_BAO] ([maLoaiBaiBao], [tenLoaiBaiBao], [donViTinh], [gioChuan]) VALUES (1, N'BÀI BÁO KHOA HỌC', N'01 BÀI BÁO', 100)
INSERT [dbo].[LOAI_BAI_BAO] ([maLoaiBaiBao], [tenLoaiBaiBao], [donViTinh], [gioChuan]) VALUES (2, N'BÀI BÁO KHOA HỌC', N'01 BÀI BÁO', 150)
INSERT [dbo].[LOAI_BAI_BAO] ([maLoaiBaiBao], [tenLoaiBaiBao], [donViTinh], [gioChuan]) VALUES (3, N'BÀI BÁO KHOA HỌC', N'01 BÀI BÁO', 150)
INSERT [dbo].[LOAI_BAI_TAP_LON] ([maBTL], [tenBTL], [gioChuan], [donViTinh]) VALUES (1, N'Chia nhóm', 0.7, N'BTL')
INSERT [dbo].[LOAI_BAI_TAP_LON] ([maBTL], [tenBTL], [gioChuan], [donViTinh]) VALUES (2, N'Không Chia nhóm', 1, N'BTL')
INSERT [dbo].[LOAI_DO_AN] ([maLoaiDoAn], [tenLoaiDoAn], [donViTinh], [gioChuan]) VALUES (N'DA01      ', N'Đồ án môn học chuyên ngành', N'1 đồ án', 14)
INSERT [dbo].[LOAI_DO_AN] ([maLoaiDoAn], [tenLoaiDoAn], [donViTinh], [gioChuan]) VALUES (N'DA02      ', N'Đồ án tốt nghiệp', N'1 đồ án', 17)
INSERT [dbo].[LOAI_DO_AN] ([maLoaiDoAn], [tenLoaiDoAn], [donViTinh], [gioChuan]) VALUES (N'DA03      ', N'Đồ án môn học cơ sở', N'1 tiểu luận', 9)
INSERT [dbo].[LOAI_DO_AN_HUONG_DAN] ([maLoaiDoAn], [tenLoaiDoAn], [gioChuan], [donViTinh]) VALUES (1, N'Đồ án môn học cơ sở, tiểu luận các môn khoa học xã hội và nhân văn', 0.75, N'ĐA')
INSERT [dbo].[LOAI_DO_AN_HUONG_DAN] ([maLoaiDoAn], [tenLoaiDoAn], [gioChuan], [donViTinh]) VALUES (2, N'Đồ án môn học chuyên ngành', 2, N'ĐA')
INSERT [dbo].[LOAI_DO_AN_HUONG_DAN] ([maLoaiDoAn], [tenLoaiDoAn], [gioChuan], [donViTinh]) VALUES (3, N'Đồ án(Luận văn ) tốt nghiệp', 15, N'ĐA')
INSERT [dbo].[LOAI_HOC_PHAN] ([maLoaiHocPhan], [tenLoaiHocPhan], [he], [soTinChi]) VALUES (1, N'GIẢNG DẠY LÝ THUYẾT', N'DÂN SỰ', NULL)
INSERT [dbo].[LOAI_HOC_PHAN] ([maLoaiHocPhan], [tenLoaiHocPhan], [he], [soTinChi]) VALUES (2, N'HƯỚNG DẪN BÀI TẬP,BÀI KIỂM TRA,THÍ NGHIỆM,THỰC HÀNH,THẢO LUẬN', N'DÂN SỰ', NULL)
INSERT [dbo].[LOAI_HOC_PHAN] ([maLoaiHocPhan], [tenLoaiHocPhan], [he], [soTinChi]) VALUES (3, N'DẠY THỂ DỤC & GIÁO DỤC THỂ CHẤT', N'DÂN SỰ', NULL)
INSERT [dbo].[LOAI_HOI_DONG] ([maLoaiHoiDong], [tenLoaiHoiDong]) VALUES (1, N'CẤP QUỐC TẾ')
INSERT [dbo].[LOAI_HOI_DONG] ([maLoaiHoiDong], [tenLoaiHoiDong]) VALUES (2, N'CẤP NHÀ NƯỚC')
INSERT [dbo].[LOAI_HOI_DONG] ([maLoaiHoiDong], [tenLoaiHoiDong]) VALUES (3, N'CẤP THÀNH PHỐ')
INSERT [dbo].[LOAI_NGOAI_KHOA] ([maLoaiNgoaiNgu], [tenLoaiNgoaiNgu], [gioChuan], [donViTinh]) VALUES (1, N'Hướng dẫn ngoại khóa', 2.5, N'Ngày')
INSERT [dbo].[LOAI_NGOAI_KHOA] ([maLoaiNgoaiNgu], [tenLoaiNgoaiNgu], [gioChuan], [donViTinh]) VALUES (2, N'Kiểm tra sức khỏe', 2.5, N'Ngày')
INSERT [dbo].[LOAI_NGOAI_KHOA] ([maLoaiNgoaiNgu], [tenLoaiNgoaiNgu], [gioChuan], [donViTinh]) VALUES (3, N'Kiểm tra rèn luyện thể lực', 2.5, N'Ngày')
INSERT [dbo].[LOAI_SACH] ([maLoaiSach], [tenLoaiSach], [donViTinh], [gioChuan]) VALUES (1, N'SÁCH CHUYÊN KHẢO', N'TRANG', 3)
INSERT [dbo].[LOAI_SACH] ([maLoaiSach], [tenLoaiSach], [donViTinh], [gioChuan]) VALUES (2, N'GIÁO TRÌNH MỚI', N'TRANG', 150)
INSERT [dbo].[LOAI_SACH] ([maLoaiSach], [tenLoaiSach], [donViTinh], [gioChuan]) VALUES (3, N'GIÁO TRÌNH TÁI BẢN(CÓ BỔ SUNG,SỬA ĐỔI)', N'TRANG', 120)
INSERT [dbo].[LOAI_TRONG_TAI] ([maLoaiTrongTai], [tenLoaiTrongTai], [gioChuan], [donViTinh]) VALUES (1, N'Trọng Tài Chính Bóng Đá', 3, N'Trận')
INSERT [dbo].[LOAI_TRONG_TAI] ([maLoaiTrongTai], [tenLoaiTrongTai], [gioChuan], [donViTinh]) VALUES (2, N'Trọng tài chính bóng rổ, bóng chuyền', 1.2, N'Trận')
INSERT [dbo].[LOAI_TRONG_TAI] ([maLoaiTrongTai], [tenLoaiTrongTai], [gioChuan], [donViTinh]) VALUES (3, N'trọng tài chính bóng bàn', 1, N'trận')
INSERT [dbo].[LOP_HOC_PHAN] ([maLopHocPhan], [tenLopHocPhan], [thoiGianBatDat], [thoiGianKetThuc], [siSo], [namHoc], [kiHoc], [maLoaiHocPhan]) VALUES (N'LHP01     ', N'THỰC TẬP CƠ SỞ DỮ LIỆU', CAST(N'2018-12-14T00:00:00' AS SmallDateTime), CAST(N'2019-05-25T00:00:00' AS SmallDateTime), 80, 3, 2, 2)
INSERT [dbo].[LOP_HOC_PHAN] ([maLopHocPhan], [tenLopHocPhan], [thoiGianBatDat], [thoiGianKetThuc], [siSo], [namHoc], [kiHoc], [maLoaiHocPhan]) VALUES (N'LHP02     ', N'CÔNG NGHỆ PHẦN MỀM', CAST(N'2018-12-17T00:00:00' AS SmallDateTime), CAST(N'2019-05-30T00:00:00' AS SmallDateTime), 45, 3, 2, 1)
INSERT [dbo].[LOP_HOC_PHAN] ([maLopHocPhan], [tenLopHocPhan], [thoiGianBatDat], [thoiGianKetThuc], [siSo], [namHoc], [kiHoc], [maLoaiHocPhan]) VALUES (N'LHP03     ', N'CẤU TRÚC MÁY TÍNH', CAST(N'2017-12-02T00:00:00' AS SmallDateTime), CAST(N'2017-05-25T00:00:00' AS SmallDateTime), 110, 2, 2, 1)
INSERT [dbo].[MIEN_GIAM_CVCQ] ([maMienGiam], [tyLeMienGiam], [maCVCQ]) VALUES (1, 10, 1)
INSERT [dbo].[MIEN_GIAM_CVCQ] ([maMienGiam], [tyLeMienGiam], [maCVCQ]) VALUES (2, 40, 6)
INSERT [dbo].[MIEN_GIAM_CVCQ] ([maMienGiam], [tyLeMienGiam], [maCVCQ]) VALUES (3, 55, 4)
INSERT [dbo].[MIEN_GIAM_CVD] ([maMienGiam], [tyLeMienGiam], [maCVD]) VALUES (1, 44, 1)
INSERT [dbo].[MIEN_GIAM_CVD] ([maMienGiam], [tyLeMienGiam], [maCVD]) VALUES (6, 24, 2)
INSERT [dbo].[NGHIEN_CUU] ([maDeTai], [tenDeTai], [donViTinh], [gioChuan]) VALUES (N'1         ', N'App sử dụng React Native', N'Tháng', 6)
INSERT [dbo].[NGHIEN_CUU] ([maDeTai], [tenDeTai], [donViTinh], [gioChuan]) VALUES (N'10        ', N'Nghiên cứu xăng tái chế', N'Tháng', 11)
INSERT [dbo].[NGHIEN_CUU] ([maDeTai], [tenDeTai], [donViTinh], [gioChuan]) VALUES (N'11        ', N'Áp dụng Machine Learning trong giảng dạy', N'Tháng', 5)
INSERT [dbo].[SACH] ([maSach], [tenSach], [namXuatBan], [noiXuatBan], [maLoaiSach]) VALUES (1, N'LẬP TRÌNH C CƠ BẢN', CAST(N'2014-04-07T00:00:00' AS SmallDateTime), N'NXB ĐẠI HỌC QUỐC GIA', 2)
INSERT [dbo].[SACH] ([maSach], [tenSach], [namXuatBan], [noiXuatBan], [maLoaiSach]) VALUES (2, N'LẬP TRÌNH WEB', CAST(N'2016-08-04T00:00:00' AS SmallDateTime), N'NXB SƯ PHẠM', 3)
INSERT [dbo].[SACH] ([maSach], [tenSach], [namXuatBan], [noiXuatBan], [maLoaiSach]) VALUES (3, N'KỸ THUẬT ĐIỆN', CAST(N'2012-12-09T00:00:00' AS SmallDateTime), N'NXB HÀ NỘI', 1)
INSERT [dbo].[SAN_PHAM_KHCN] ([maSP], [tenSP], [ghiChu], [maGV]) VALUES (N'1         ', N'Robot thông minh Kinect', N'Đang trong quá trình hoàn thiện', NULL)
INSERT [dbo].[SAN_PHAM_KHCN] ([maSP], [tenSP], [ghiChu], [maGV]) VALUES (N'10        ', N'Hệ thống chấm công bằng khuôn mặt', N'Đang hoàn thiện', NULL)
INSERT [dbo].[SAN_PHAM_KHCN] ([maSP], [tenSP], [ghiChu], [maGV]) VALUES (N'2         ', N'Message SSH', N'Phát hành duy nhất trên Android', NULL)
INSERT [dbo].[VAN_BANG_SO_HUU_TRI_TUE] ([maVanBang], [tenVanBang]) VALUES (1, N'Sáng Chế')
INSERT [dbo].[VAN_BANG_SO_HUU_TRI_TUE] ([maVanBang], [tenVanBang]) VALUES (2, N'Kiểu Dáng')
INSERT [dbo].[VAN_BANG_SO_HUU_TRI_TUE] ([maVanBang], [tenVanBang]) VALUES (3, N'Nhãn Hiệu')
ALTER TABLE [dbo].[BAI_BAO]  WITH CHECK ADD  CONSTRAINT [FK_BAI_BAO_LOAI_BAI_BAO] FOREIGN KEY([maLoaiBaiBao])
REFERENCES [dbo].[LOAI_BAI_BAO] ([maLoaiBaiBao])
GO
ALTER TABLE [dbo].[BAI_BAO] CHECK CONSTRAINT [FK_BAI_BAO_LOAI_BAI_BAO]
GO
ALTER TABLE [dbo].[BO_MON]  WITH CHECK ADD  CONSTRAINT [FK__BO_MON__maKhoa__1273C1CD] FOREIGN KEY([maKhoa])
REFERENCES [dbo].[KHOA] ([maKhoa])
GO
ALTER TABLE [dbo].[BO_MON] CHECK CONSTRAINT [FK__BO_MON__maKhoa__1273C1CD]
GO
ALTER TABLE [dbo].[CHI_TIET_CDCMNV]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET___maCDC__34C8D9D1] FOREIGN KEY([maCDCM])
REFERENCES [dbo].[CHUC_DANH_CHUYEN_MON_NGHIEP_VU] ([maCDCM])
GO
ALTER TABLE [dbo].[CHI_TIET_CDCMNV] CHECK CONSTRAINT [FK__CHI_TIET___maCDC__34C8D9D1]
GO
ALTER TABLE [dbo].[CHI_TIET_CDCMNV]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CDCMNV_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[CHI_TIET_CDCMNV] CHECK CONSTRAINT [FK_CHI_TIET_CDCMNV_GIAO_VIEN]
GO
ALTER TABLE [dbo].[CHI_TIET_CVCQ]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET___maCVC__1BFD2C07] FOREIGN KEY([maCVCQ])
REFERENCES [dbo].[CHUC_VU_CHINH_QUYEN] ([maCVCQ])
GO
ALTER TABLE [dbo].[CHI_TIET_CVCQ] CHECK CONSTRAINT [FK__CHI_TIET___maCVC__1BFD2C07]
GO
ALTER TABLE [dbo].[CHI_TIET_CVCQ]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CVCQ_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[CHI_TIET_CVCQ] CHECK CONSTRAINT [FK_CHI_TIET_CVCQ_GIAO_VIEN]
GO
ALTER TABLE [dbo].[CHI_TIET_CVD]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET___maCVD__21B6055D] FOREIGN KEY([maCVD])
REFERENCES [dbo].[CHUC_VU_DANG] ([maCVD])
GO
ALTER TABLE [dbo].[CHI_TIET_CVD] CHECK CONSTRAINT [FK__CHI_TIET___maCVD__21B6055D]
GO
ALTER TABLE [dbo].[CHI_TIET_CVD]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CVD_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[CHI_TIET_CVD] CHECK CONSTRAINT [FK_CHI_TIET_CVD_GIAO_VIEN]
GO
ALTER TABLE [dbo].[CHI_TIET_HOC_HAM]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET___maHoc__2D27B809] FOREIGN KEY([maHocHam])
REFERENCES [dbo].[HOC_HAM] ([maHocHam])
GO
ALTER TABLE [dbo].[CHI_TIET_HOC_HAM] CHECK CONSTRAINT [FK__CHI_TIET___maHoc__2D27B809]
GO
ALTER TABLE [dbo].[CHI_TIET_HOC_HAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HOC_HAM_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[CHI_TIET_HOC_HAM] CHECK CONSTRAINT [FK_CHI_TIET_HOC_HAM_GIAO_VIEN]
GO
ALTER TABLE [dbo].[CHI_TIET_HOC_VI]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET___maHoc__276EDEB3] FOREIGN KEY([maHocVi])
REFERENCES [dbo].[HOC_VI] ([maHocVi])
GO
ALTER TABLE [dbo].[CHI_TIET_HOC_VI] CHECK CONSTRAINT [FK__CHI_TIET___maHoc__276EDEB3]
GO
ALTER TABLE [dbo].[CHI_TIET_HOC_VI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HOC_VI_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[CHI_TIET_HOC_VI] CHECK CONSTRAINT [FK_CHI_TIET_HOC_VI_GIAO_VIEN]
GO
ALTER TABLE [dbo].[CHI_TIET_HOI_DONG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HOI_DONG_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[CHI_TIET_HOI_DONG] CHECK CONSTRAINT [FK_CHI_TIET_HOI_DONG_GIAO_VIEN]
GO
ALTER TABLE [dbo].[CHI_TIET_HOI_DONG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HOI_DONG_HOI_DONG] FOREIGN KEY([maHoiDong])
REFERENCES [dbo].[HOI_DONG] ([maHoiDong])
GO
ALTER TABLE [dbo].[CHI_TIET_HOI_DONG] CHECK CONSTRAINT [FK_CHI_TIET_HOI_DONG_HOI_DONG]
GO
ALTER TABLE [dbo].[CHI_TIET_HUONG_DAN_BTL]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HUONG_DAN_BTL_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[CHI_TIET_HUONG_DAN_BTL] CHECK CONSTRAINT [FK_CHI_TIET_HUONG_DAN_BTL_GIAO_VIEN]
GO
ALTER TABLE [dbo].[CHI_TIET_HUONG_DAN_BTL]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HUONG_DAN_BTL_LOAI_BAI_TAP_LON] FOREIGN KEY([maBTL])
REFERENCES [dbo].[LOAI_BAI_TAP_LON] ([maBTL])
GO
ALTER TABLE [dbo].[CHI_TIET_HUONG_DAN_BTL] CHECK CONSTRAINT [FK_CHI_TIET_HUONG_DAN_BTL_LOAI_BAI_TAP_LON]
GO
ALTER TABLE [dbo].[CHI_TIET_HUONG_DAN_DO_AN]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HUONG_DAN_DO_AN_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[CHI_TIET_HUONG_DAN_DO_AN] CHECK CONSTRAINT [FK_CHI_TIET_HUONG_DAN_DO_AN_GIAO_VIEN]
GO
ALTER TABLE [dbo].[CHI_TIET_HUONG_DAN_DO_AN]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HUONG_DAN_DO_AN_LOAI_DO_AN_HUONG_DAN] FOREIGN KEY([maLoaiDoAn])
REFERENCES [dbo].[LOAI_DO_AN_HUONG_DAN] ([maLoaiDoAn])
GO
ALTER TABLE [dbo].[CHI_TIET_HUONG_DAN_DO_AN] CHECK CONSTRAINT [FK_CHI_TIET_HUONG_DAN_DO_AN_LOAI_DO_AN_HUONG_DAN]
GO
ALTER TABLE [dbo].[CHI_TIET_LOP_HOC_PHAN]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_LOP_HOC_PHAN_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[CHI_TIET_LOP_HOC_PHAN] CHECK CONSTRAINT [FK_CHI_TIET_LOP_HOC_PHAN_GIAO_VIEN]
GO
ALTER TABLE [dbo].[CHI_TIET_LOP_HOC_PHAN]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_LOP_HOC_PHAN_LOP_HOC_PHAN] FOREIGN KEY([maLopHocPhan])
REFERENCES [dbo].[LOP_HOC_PHAN] ([maLopHocPhan])
GO
ALTER TABLE [dbo].[CHI_TIET_LOP_HOC_PHAN] CHECK CONSTRAINT [FK_CHI_TIET_LOP_HOC_PHAN_LOP_HOC_PHAN]
GO
ALTER TABLE [dbo].[CHI_TIET_NGOAI_KHOA]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_NGOAI_KHOA_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[CHI_TIET_NGOAI_KHOA] CHECK CONSTRAINT [FK_CHI_TIET_NGOAI_KHOA_GIAO_VIEN]
GO
ALTER TABLE [dbo].[CHI_TIET_NGOAI_KHOA]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_NGOAI_KHOA_LOAI_NGOAI_KHOA] FOREIGN KEY([maLoaiNgoaiNgu])
REFERENCES [dbo].[LOAI_NGOAI_KHOA] ([maLoaiNgoaiNgu])
GO
ALTER TABLE [dbo].[CHI_TIET_NGOAI_KHOA] CHECK CONSTRAINT [FK_CHI_TIET_NGOAI_KHOA_LOAI_NGOAI_KHOA]
GO
ALTER TABLE [dbo].[CHI_TIET_TRONG_TAI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_TRONG_TAI_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[CHI_TIET_TRONG_TAI] CHECK CONSTRAINT [FK_CHI_TIET_TRONG_TAI_GIAO_VIEN]
GO
ALTER TABLE [dbo].[CHI_TIET_TRONG_TAI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_TRONG_TAI_LOAI_TRONG_TAI] FOREIGN KEY([maLoaiTrongTai])
REFERENCES [dbo].[LOAI_TRONG_TAI] ([maLoaiTrongTai])
GO
ALTER TABLE [dbo].[CHI_TIET_TRONG_TAI] CHECK CONSTRAINT [FK_CHI_TIET_TRONG_TAI_LOAI_TRONG_TAI]
GO
ALTER TABLE [dbo].[CHI_TIET_VAN_BANG_SO_HUU_TRI_TUE]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_VAN_BANG_SO_HUU_TRI_TUE_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[CHI_TIET_VAN_BANG_SO_HUU_TRI_TUE] CHECK CONSTRAINT [FK_CHI_TIET_VAN_BANG_SO_HUU_TRI_TUE_GIAO_VIEN]
GO
ALTER TABLE [dbo].[CHI_TIET_VAN_BANG_SO_HUU_TRI_TUE]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_VAN_BANG_SO_HUU_TRI_TUE_VAN_BANG_SO_HUU_TRI_TUE] FOREIGN KEY([maVanBang])
REFERENCES [dbo].[VAN_BANG_SO_HUU_TRI_TUE] ([maVanBang])
GO
ALTER TABLE [dbo].[CHI_TIET_VAN_BANG_SO_HUU_TRI_TUE] CHECK CONSTRAINT [FK_CHI_TIET_VAN_BANG_SO_HUU_TRI_TUE_VAN_BANG_SO_HUU_TRI_TUE]
GO
ALTER TABLE [dbo].[DINH_MUC]  WITH CHECK ADD  CONSTRAINT [FK_DINH_MUC_LOAI_HOC_PHAN] FOREIGN KEY([maLoaiHocPhan])
REFERENCES [dbo].[LOAI_HOC_PHAN] ([maLoaiHocPhan])
GO
ALTER TABLE [dbo].[DINH_MUC] CHECK CONSTRAINT [FK_DINH_MUC_LOAI_HOC_PHAN]
GO
ALTER TABLE [dbo].[DINH_MUC_THEO_CHUC_DANH]  WITH CHECK ADD  CONSTRAINT [FK_DINH_MUC_NGHIEN_CUU_CHUC_DANH_CHUYEN_MON_NGHIEP_VU] FOREIGN KEY([maCDCM])
REFERENCES [dbo].[CHUC_DANH_CHUYEN_MON_NGHIEP_VU] ([maCDCM])
GO
ALTER TABLE [dbo].[DINH_MUC_THEO_CHUC_DANH] CHECK CONSTRAINT [FK_DINH_MUC_NGHIEN_CUU_CHUC_DANH_CHUYEN_MON_NGHIEP_VU]
GO
ALTER TABLE [dbo].[DINH_MUC_THEO_HOC_HAM]  WITH CHECK ADD  CONSTRAINT [FK_DINH_MUC_THEO_HOC_HAM_HOC_HAM] FOREIGN KEY([maHocHam])
REFERENCES [dbo].[HOC_HAM] ([maHocHam])
GO
ALTER TABLE [dbo].[DINH_MUC_THEO_HOC_HAM] CHECK CONSTRAINT [FK_DINH_MUC_THEO_HOC_HAM_HOC_HAM]
GO
ALTER TABLE [dbo].[GIAI_THUONG_KHCN]  WITH CHECK ADD  CONSTRAINT [FK_GIAI_THUONG_KHCN_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[GIAI_THUONG_KHCN] CHECK CONSTRAINT [FK_GIAI_THUONG_KHCN_GIAO_VIEN]
GO
ALTER TABLE [dbo].[GIAO_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_BO_MON] FOREIGN KEY([maBM])
REFERENCES [dbo].[BO_MON] ([maBM])
GO
ALTER TABLE [dbo].[GIAO_VIEN] CHECK CONSTRAINT [FK_GIAO_VIEN_BO_MON]
GO
ALTER TABLE [dbo].[GIAO_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_KHOA] FOREIGN KEY([maKhoa])
REFERENCES [dbo].[KHOA] ([maKhoa])
GO
ALTER TABLE [dbo].[GIAO_VIEN] CHECK CONSTRAINT [FK_GIAO_VIEN_KHOA]
GO
ALTER TABLE [dbo].[GIAO_VIEN_BAI_BAO]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_BAI_BAO_BAI_BAO] FOREIGN KEY([maBaiBao])
REFERENCES [dbo].[BAI_BAO] ([maBaiBao])
GO
ALTER TABLE [dbo].[GIAO_VIEN_BAI_BAO] CHECK CONSTRAINT [FK_GIAO_VIEN_BAI_BAO_BAI_BAO]
GO
ALTER TABLE [dbo].[GIAO_VIEN_BAI_BAO]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_BAI_BAO_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[GIAO_VIEN_BAI_BAO] CHECK CONSTRAINT [FK_GIAO_VIEN_BAI_BAO_GIAO_VIEN]
GO
ALTER TABLE [dbo].[GIAO_VIEN_BAO_VE_DO_AN]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_BAO_VE_DO_AN_BAO_VE_DO_AN] FOREIGN KEY([maHoiDong])
REFERENCES [dbo].[BAO_VE_DO_AN] ([maHoiDong])
GO
ALTER TABLE [dbo].[GIAO_VIEN_BAO_VE_DO_AN] CHECK CONSTRAINT [FK_GIAO_VIEN_BAO_VE_DO_AN_BAO_VE_DO_AN]
GO
ALTER TABLE [dbo].[GIAO_VIEN_BAO_VE_DO_AN]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_BAO_VE_DO_AN_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[GIAO_VIEN_BAO_VE_DO_AN] CHECK CONSTRAINT [FK_GIAO_VIEN_BAO_VE_DO_AN_GIAO_VIEN]
GO
ALTER TABLE [dbo].[GIAO_VIEN_CHAM_THI]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_CHAM_THI_CHAM_THI] FOREIGN KEY([maLoaiChamThi])
REFERENCES [dbo].[CHAM_THI] ([maLoaiChamThi])
GO
ALTER TABLE [dbo].[GIAO_VIEN_CHAM_THI] CHECK CONSTRAINT [FK_GIAO_VIEN_CHAM_THI_CHAM_THI]
GO
ALTER TABLE [dbo].[GIAO_VIEN_CHAM_THI]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_CHAM_THI_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[GIAO_VIEN_CHAM_THI] CHECK CONSTRAINT [FK_GIAO_VIEN_CHAM_THI_GIAO_VIEN]
GO
ALTER TABLE [dbo].[GIAO_VIEN_DO_AN]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_DO_AN_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[GIAO_VIEN_DO_AN] CHECK CONSTRAINT [FK_GIAO_VIEN_DO_AN_GIAO_VIEN]
GO
ALTER TABLE [dbo].[GIAO_VIEN_DO_AN]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_DO_AN_LOAI_DO_AN] FOREIGN KEY([maLoaiDoAn])
REFERENCES [dbo].[LOAI_DO_AN] ([maLoaiDoAn])
GO
ALTER TABLE [dbo].[GIAO_VIEN_DO_AN] CHECK CONSTRAINT [FK_GIAO_VIEN_DO_AN_LOAI_DO_AN]
GO
ALTER TABLE [dbo].[GIAO_VIEN_NGHIEN_CUU]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_NGHIEN_CUU_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[GIAO_VIEN_NGHIEN_CUU] CHECK CONSTRAINT [FK_GIAO_VIEN_NGHIEN_CUU_GIAO_VIEN]
GO
ALTER TABLE [dbo].[GIAO_VIEN_NGHIEN_CUU]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_NGHIEN_CUU_NGHIEN_CUU] FOREIGN KEY([maDeTai])
REFERENCES [dbo].[NGHIEN_CUU] ([maDeTai])
GO
ALTER TABLE [dbo].[GIAO_VIEN_NGHIEN_CUU] CHECK CONSTRAINT [FK_GIAO_VIEN_NGHIEN_CUU_NGHIEN_CUU]
GO
ALTER TABLE [dbo].[GIAO_VIEN_SACH]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_SACH_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[GIAO_VIEN_SACH] CHECK CONSTRAINT [FK_GIAO_VIEN_SACH_GIAO_VIEN]
GO
ALTER TABLE [dbo].[GIAO_VIEN_SACH]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_SACH_SACH] FOREIGN KEY([maSach])
REFERENCES [dbo].[SACH] ([maSach])
GO
ALTER TABLE [dbo].[GIAO_VIEN_SACH] CHECK CONSTRAINT [FK_GIAO_VIEN_SACH_SACH]
GO
ALTER TABLE [dbo].[HOI_DONG]  WITH CHECK ADD  CONSTRAINT [FK_HOI_DONG_LOAI_HOI_DONG] FOREIGN KEY([maLoaiHoiDong])
REFERENCES [dbo].[LOAI_HOI_DONG] ([maLoaiHoiDong])
GO
ALTER TABLE [dbo].[HOI_DONG] CHECK CONSTRAINT [FK_HOI_DONG_LOAI_HOI_DONG]
GO
ALTER TABLE [dbo].[LOP_HOC_PHAN]  WITH CHECK ADD  CONSTRAINT [FK_LOP_HOC_PHAN_LOAI_HOC_PHAN] FOREIGN KEY([maLoaiHocPhan])
REFERENCES [dbo].[LOAI_HOC_PHAN] ([maLoaiHocPhan])
GO
ALTER TABLE [dbo].[LOP_HOC_PHAN] CHECK CONSTRAINT [FK_LOP_HOC_PHAN_LOAI_HOC_PHAN]
GO
ALTER TABLE [dbo].[MIEN_GIAM_CVCQ]  WITH CHECK ADD  CONSTRAINT [FK_MIEN_GIAM_CVCQ_CHUC_VU_CHINH_QUYEN] FOREIGN KEY([maCVCQ])
REFERENCES [dbo].[CHUC_VU_CHINH_QUYEN] ([maCVCQ])
GO
ALTER TABLE [dbo].[MIEN_GIAM_CVCQ] CHECK CONSTRAINT [FK_MIEN_GIAM_CVCQ_CHUC_VU_CHINH_QUYEN]
GO
ALTER TABLE [dbo].[MIEN_GIAM_CVD]  WITH CHECK ADD  CONSTRAINT [FK_MIEN_GIAM_CVD_CHUC_VU_DANG] FOREIGN KEY([maCVD])
REFERENCES [dbo].[CHUC_VU_DANG] ([maCVD])
GO
ALTER TABLE [dbo].[MIEN_GIAM_CVD] CHECK CONSTRAINT [FK_MIEN_GIAM_CVD_CHUC_VU_DANG]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_LOAI_SACH] FOREIGN KEY([maLoaiSach])
REFERENCES [dbo].[LOAI_SACH] ([maLoaiSach])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_LOAI_SACH]
GO
ALTER TABLE [dbo].[SAN_PHAM_KHCN]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_KHCN_GIAO_VIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAO_VIEN] ([maGV])
GO
ALTER TABLE [dbo].[SAN_PHAM_KHCN] CHECK CONSTRAINT [FK_SAN_PHAM_KHCN_GIAO_VIEN]
GO
USE [master]
GO
